body {
    font-family: Inter; /* Семейство шрифтов */
    font-size: 11px; /* Размер основного шрифта в <p></p>  */
    background-color: #5988FF; /* Цвет фона веб-страницы */
    color: #ffffff; /* Цвет основного текста */ 
}
h1 {
    color: #FFFFFF; /* Цвет заголовка */
    font-size: 48px; /* Размер шрифта в пунктах */
    font-family: Inter; /* Семейство шрифтов */
}
li {
    color: #FFFFFF;
    font-size: 20px;
}
h2 {
    color: #D6FF6B;
    font-size: 24px;
    font-family: Inter;
}
h3 {
    color: #D6FF6B;
    font-size: 24px;
    font-family: Inter;
}

@keyframes color-change {
    0% {
      color: rgb(0, 255, 55);
    }
  
    14% {
      color: rgb(0, 187, 44);
    }
  
    24% {
      color: rgb(15, 155, 2);
    }
    36% {
        color: rgb(0, 92, 13);
      }
    48% {
      color: rgb(74, 97, 0);
    }
    60% {
        color: rgb(181, 207, 14);
      }
    72% {
      color: rgb(234, 255, 0);
    }
    100% {
        color: rgb(0, 255, 21);
      }
}

h1:hover {
    animation: color-change 14s infinite;
}


@keyframes color-change2 {
    0% {
      color: #D6FF6B;
    }
  
    50% {
      color: #18ff46;
    }
    100% {
        color: #b7ff00;
      }
}

h2 {
    animation: color-change2 3s infinite;
}

h3 {
    animation: color-change2 3s infinite;
}

@keyframes color-change3 {
    0% {
        background-color: #2200ff;
    }
  
    50% {
        background-color: #9900ff;
    }
    100% {
        background-color: #2200ff;
      }
}

body {
    animation: color-change3 10s infinite;
}